testApiPivatbank
[{"id":"fff2970b.f08ed8","type":"tab","label":"Privatbank  API","disabled":false,"info":""},{"id":"e8b9bcf4.c3fea","type":"inject","z":"fff2970b.f08ed8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":280,"wires":[["da6e1ace.ae4d38"]]},{"id":"da6e1ace.ae4d38","type":"http request","z":"fff2970b.f08ed8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?exchange&json&coursid=11","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":280,"wires":[["5a4c1bfa.636984"]]},{"id":"5a4c1bfa.636984","type":"function","z":"fff2970b.f08ed8","name":"","func":"msg.usdBuy = msg.payload[0].buy;\nmsg.nowDate = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":280,"wires":[["d3623103.26b39"]]},{"id":"d3623103.26b39","type":"debug","z":"fff2970b.f08ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":280,"wires":[]}]
